<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928372971479-ho75hotjm2v058ai8a2995om7kkb9mpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928372971479-ho75hotjm2v058ai8a2995om7kkb9mpi</string>
	<key>API_KEY</key>
	<string>AIzaSyBvRMCiwPWXQUAQQAspGkf68I_kd9NrVyo</string>
	<key>GCM_SENDER_ID</key>
	<string>928372971479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgpt.HGPT</string>
	<key>PROJECT_ID</key>
	<string>hgpt-4c40d</string>
	<key>STORAGE_BUCKET</key>
	<string>hgpt-4c40d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928372971479:ios:591c9914b99c33876add92</string>
	<key>DATABASE_URL</key>
	<string>https://hgpt-4c40d.firebaseio.com</string>
</dict>
</plist>